In [1]:
def hello(name,age = 21):
    print("my name is {} and age is {}".format(name,age))

In [3]:
hello("chiranjeev")

my name is chiranjeev and age is 21

In [4]:
def hello1(*args,**kwargs):
    print(args)
    print(kwargs)

In [7]:
hello1("cj","batra",age=21)

('cj', 'batra')
{'age': 21}

In [8]:
lst = {'cj', 'batra'}
dict_arg = {'age': 21}

In [10]:
hello1(*lst,**dict_arg)

('batra', 'cj')
{'age': 21}

In [11]:
lst = {1,2,3,4,5,6,7,8,9,10,11,12,13}

In [12]:
def sum(lst):
    even_sum = 0
    odd_sum =0
    for i in lst:
        if i%2 ==0:
            even_sum = i+even_sum
        else:
            odd_sum = odd_sum+i
    return even_sum,odd_sum

In [13]:
sum(lst)

(42, 49)

In [16]:
even = lambda a:a%2==0

In [18]:
even(42)

True

In [19]:
def even_odd(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [20]:
even_odd(55)

'The number 55 is odd'

In [21]:
lst = {1,2,3,4,5,6,7,8,9,10,11,12,13}

In [24]:
list(map(even_odd,lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 4 is even',
 'The number 5 is odd',
 'The number 6 is even',
 'The number 7 is odd',
 'The number 8 is even',
 'The number 9 is odd',
 'The number 10 is even',
 'The number 11 is odd',
 'The number 12 is even',
 'The number 13 is odd']

In [23]:
list(map)

TypeError: 'type' object is not iterable

In [27]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 10, 12]